.footer {
  background-color: aliceblue;
}

.footer p {
  text-align: center;
  letter-spacing: 0.2rem;
}

.footer p a {
  text-decoration: none;
  color: inherit;
}

.footer p a:hover {
  cursor: pointer;
}
